html {
    font-family: 'Vibes', cursive;
    background-image: url(./MarbleVeined0066_1_download600.jpg)
    background-color: #6c6878;

header {
    font-family: 'Vibes', cursive;
    background-color: #6c6878;
}

#pnkgem {

}

#prplgem {

}

#blugem {

}

#ylwgem {


}
