html {
    font-family: 'Vibes', cursive;
    background-image: <img src =  ;
    background-color: #6c6878;

header {
    font-family: 'Vibes', cursive;
    background-color: #6c6878;
}

#pnkgem {
    
}

#prplgem {

}

#blugem {

}

#ylwgem {


}
